body{
	min-height:99%;
	background-image: url(../img/graph_white.png);


}

.searchbar-container{
padding:0 5%;

}

.searchbar{
	background-color: #222222;
	width: 100%;

}

.searchbar lable{
	color:#fff;

}


table{
	background-color: #fff;

}

.hide{
	visibility: hidden;

}

.chart-container{
	padding: 0 0 30% 0 ;

}

.jumbotron{
	padding:3%;
	margin:5% 10% 2% 10%;
	border-radius: 24px;
	font:#fff;

}