<html>
<head>
	<title>TITLE</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	<link rel="icon" href="../static/img/music.ico" type="image/x-icon" />
	
<!-- Bootstrap collapsible navbar -->
	<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
		    <div class="nav navbar-nav ">
		        <div class="navbar-brand" href="/">TITLE<span class=''></span></div>
			    
			    
		    </div>
	    </div>

	  </div><!-- /.container-fluid -->
	</nav><!-- /nav -->

</head>

<body>


<!-- MAIN CONTENT -->
	<div class="container main">
		
	</div>




	<script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>

</body>

<footer style=''>HackingEdu Hackathon 2015</footer>

